html, body {
    height: 100%;
}

.Landing {
    /* display: grid; */
    height: 99vh;
    /* grid-auto-rows: 3fr 1fr 6fr; */
    border: solid 1px white;
}

.Symbol {
    margin: 5px;
    height:30%;
    border: 1px solid black;
    background-color: whitesmoke;
}

.Navbar {
    margin: 5px;
    height: 10%;
    border: 1px solid black;
    background-color: aliceblue;
}

.Showcase {
    margin: 5px;
    height: 58%;
    border: 1px solid black;
    background-color:antiquewhite
}