.Artwork {
    padding: 25px;
    margin-bottom: 30vh;
}

.artpiece {
    width: 40%;
    height: auto;
}

.title {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.thoughts {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}